* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /* variáveis para colors */
  --bg-head-color: #293241;
  --bg-color: #BFD7E4;
  --details-color: #F67669;
  --main-color: #FFFFFF;

  --font-family-po: "Poppins", sans-serif;
  --font-family-st: "Staatliches", sans-serif;

  --h1: 400 36px/100% var(--font-family-st);
  --h2: 400 24px var(--font-family-st);
  --p: 400 16px var(--font-family-po);
  --label: 600 14px var(--font-family-po);
  --button: 400 20px var(--font-family-st);
}

body {
  background-color: var(--bg-color);
}

body::before {
  content: "";
  width: 100%;
  height: 465px;
  position: absolute;
  z-index: -1;
  background-color: var(--bg-head-color);
}

#container {
  width: 750px;
  margin: auto;
}

